# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
*.jks
*.p12
*.keystore
*.cer
*.pem

# VSCode
.vscode/

# dotenv
.env
.env.*
*.local

# Android/iOS build folders
/android
/ios